#!/usr/bin/env python
# -*- coding: utf-8 -*-


debug=1

wos_username='name@domain.com'
wos_password='password'

browser_driver_command_executor='http://192.168.0.105:4444/wd/hub'
browser_profile_dir='/cygdrive/f/tempdown/wos/d59szdfe.default-1521437354332'
file_save_dir='/cygdrive/f/tempdown/wos/save'
file_save_batch_size=500

# 页面已超过重试次数限制
crawl_page_reload_retry=5
# 连续抓取失败的批次数达到限制，将跳过，并进入下一组检索条件
crawl_fail_retry_limit=10
# 下载文件时僵死等待次数，超过则认为下载失败，将忽略进入下一批下载
download_zombie_retry=15

sch=[]
sch.append({'label':'p1','search_text':
    'PY=2017 AND (WC=CHEMISTRY MULTIDISCIPLINARY OR WC=BIOCHEMISTRY)'
    })
sch.append({'label':'p1','search_text':
    'PY=2016 AND (WC=CHEMISTRY MULTIDISCIPLINARY OR WC=BIOCHEMISTRY)'
    ,'limit':5000
    })

